
<h1>Welcome to trnsltr</h1>
<p>trnsltr connects to your GitHub repo, fetches all .yml files from the config/locales directory, displays them in a table, and commits them back to master when you're done. trnsltr is <%= link_to 'open source', 'https://github.com/buhrmi/trnsltr' %> and made by <%= link_to 'buhrmi', 'https://github.com/buhrmi' %></p>
<%= link_to 'Log in with GitHub', GITHUB.authorize_url(scope: 'repo') %>
